# Create dataset: Highest vs rest (high, medium, low, lowest)
* Under sampling the majority class.
* 50/50 balance per class.

In [9]:
import pandas as pd
# Import csv file
df = pd.read_csv('../jira_clean_with_all_cols.csv')
df

,priority,description,project,labels,issuetype,collection,class,text_str,text_clean
0,Blocker,We tried upgrading from Spring Boot 2.0.6 to S...,Spring XD,[],Bug,Spring,Highest,We tried upgrading from Spring Boot 2.0.6 to S...,we tried upgrading from spring boot to spring ...
1,Major,The jobs that appear under Executions section ...,Spring XD,[],Bug,Spring,Medium,The jobs that appear under Executions section ...,the jobs that appear under executions section ...
2,Trivial,Working with Spring-XD version 1.3.2.RELEASE\n...,Spring XD,[],Bug,Spring,Lowest,Working with Spring-XD version 1.3.2.RELEASE\n...,working with springxd version the server with ...
3,Major,My project 7 node cluster and in that 2 node a...,Spring XD,"['Spring', 'xd']",Bug,Spring,Medium,My project 7 node cluster and in that 2 node a...,my project node cluster and in that node are a...
4,Minor,See https://github.com/spring-projects/spring-...,Spring XD,[],Story,Spring,Low,See https://github.com/spring-projects/spring-...,NaN
...,...,...,...,...,...,...,...,...,...
1404240,Major,it is very beautiful.,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,it is very beautiful.,it is very beautiful
1404241,Major,library,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,library,NaN
1404242,Major,What is reactive-gremlin\r\n\r\nreactive-greml...,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,What is reactive-gremlin\r\n\r\nreactive-greml...,what is reactivegremlin reactivegremlin is a s...
1404243,Major,"Android view for a swipeable, weekly calendar.",Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,"Android view for a swipeable, weekly calendar.",android view for a swipeable weekly calendar
1404244,Major,"Beetlmvc is a web framework, which can support...",Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,"Beetlmvc is a web framework, which can support...",beetlmvc is a web framework which can support ...

In [10]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   960459
Low      271629
High      82646
Highest   56220
Lowest    33291

In [11]:
# NaN values
df.isnull().sum()

priority           0
description        0
project            0
labels             0
issuetype          0
collection         0
class              0
text_str           0
text_clean     34264
dtype: int64

In [12]:
# Drop NaN values
df = df.dropna()
df.isnull().sum()

priority       0
description    0
project        0
labels         0
issuetype      0
collection     0
class          0
text_str       0
text_clean     0
dtype: int64

In [13]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   933029
Low      267697
High      81404
Highest   55358
Lowest    32493

In [15]:
# Unique collections
df['collection'].unique()

array(['Spring', 'RedHat', 'Sakai', 'JiraEcosystem', 'Hyperledger',
       'Apache', 'SecondLife', 'IntelDAOS', 'Mindville', 'Sonatype'],
      dtype=object)

In [16]:
# make df with class and text_clean
df = df[['class', 'text_clean']]

In [18]:
highest = df[df['class'] == 'Highest']
highest["label"] = 1
highest["class_original"] = "Highest"
highest["class"] = "highest"
high = df[df['class'] == 'High']
medium = df[df['class'] == 'Medium']
low = df[df['class'] == 'Low']
lowest = df[df['class'] == 'Lowest']

/tmp/ipykernel_488373/3737047461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["label"] = 1
/tmp/ipykernel_488373/3737047461.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["class_original"] = "Highest"
/tmp/ipykernel_488373/3737047461.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["class"] = "highest"

In [19]:
# Concat all class except highest
rest = pd.concat([high, medium, low, lowest])
# Rename class to class_1
rest = rest.rename(columns={'class': 'class_original'})
rest["class"] = "rest" 
rest["label"] = 0
rest

,class_original,text_clean,class,label
7,High,according to the documentation we can load jar...,rest,0
38,High,as stated in sprintintegration in springxd can...,rest,0
57,High,xd container loose connection with zookeeperim...,rest,0
152,High,if i deploy more than one instance of a module...,rest,0
484,High,i am using the pox method to implement a simpl...,rest,0
...,...,...,...,...
1398225,Lowest,please close this issue i apologize everything...,rest,0
1401002,Lowest,following dependencies are not yet ready i alr...,rest,0
1402620,Lowest,requesting access to orggrails to be able to s...,rest,0
1403176,Lowest,im releasing my artifacts for the first time i...,rest,0
1403679,Lowest,hi i currently face an unauthorized exception ...,rest,0

In [20]:
# Value count rest class
rest['class'].value_counts().to_frame()

         count
class
rest   1314623

In [21]:
from sklearn.utils import shuffle
# Number of rows in the highest class
n_highest = highest.shape[0]

rest_sampled = rest.sample(n=n_highest, random_state=42)  


balanced_data = pd.concat([highest, rest_sampled])

# Shuffle the combined dataset
balanced_data = shuffle(balanced_data, random_state=42)
balanced_data

,class,text_clean,label,class_original
433910,highest,when we do range query on simple keys it does ...,1,Highest
118569,highest,unhandledpromiserejectionwarning unhandled pro...,1,Highest
426790,rest,the fabricunittestdaily branch failing intermi...,0,Medium
247541,rest,as a system operator i want to receive alerts ...,0,Medium
34437,rest,there is no support in datasourcetransactionma...,0,Medium
...,...,...,...,...
1067449,rest,once i have imported a widget into the store i...,0,Low
273693,rest,the spec defines an axiom of a ie singleton li...,0,Medium
108844,rest,to have an history on master of all csvs setup...,0,Medium
58315,highest,there are still some changes expected to be me...,1,Highest
284658,highest,crw failed to install from operatorhub because...,1,Highest

In [22]:
balanced_data['class'].value_counts().to_frame()

         count
class
highest  55358
rest     55358

In [23]:
balanced_data

,class,text_clean,label,class_original
433910,highest,when we do range query on simple keys it does ...,1,Highest
118569,highest,unhandledpromiserejectionwarning unhandled pro...,1,Highest
426790,rest,the fabricunittestdaily branch failing intermi...,0,Medium
247541,rest,as a system operator i want to receive alerts ...,0,Medium
34437,rest,there is no support in datasourcetransactionma...,0,Medium
...,...,...,...,...
1067449,rest,once i have imported a widget into the store i...,0,Low
273693,rest,the spec defines an axiom of a ie singleton li...,0,Medium
108844,rest,to have an history on master of all csvs setup...,0,Medium
58315,highest,there are still some changes expected to be me...,1,Highest
284658,highest,crw failed to install from operatorhub because...,1,Highest

In [24]:
# Count label
balanced_data['label'].value_counts().to_frame()

       count
label
1      55358
0      55358

In [25]:
# Count original class
balanced_data['class_original'].value_counts().to_frame()

                count
class_original
Highest         55358
Medium          39259
Low             11262
High             3411
Lowest           1426

In [26]:
# Save to csv
balanced_data.to_csv('highest_vs_rest_balanced_jira.csv', index=False)

In [27]:
# Read csv
df = pd.read_csv('highest_vs_rest_balanced_jira.csv')
df

,class,text_clean,label,class_original
0,highest,when we do range query on simple keys it does ...,1,Highest
1,highest,unhandledpromiserejectionwarning unhandled pro...,1,Highest
2,rest,the fabricunittestdaily branch failing intermi...,0,Medium
3,rest,as a system operator i want to receive alerts ...,0,Medium
4,rest,there is no support in datasourcetransactionma...,0,Medium
...,...,...,...,...
110711,rest,once i have imported a widget into the store i...,0,Low
110712,rest,the spec defines an axiom of a ie singleton li...,0,Medium
110713,rest,to have an history on master of all csvs setup...,0,Medium
110714,highest,there are still some changes expected to be me...,1,Highest
110715,highest,crw failed to install from operatorhub because...,1,Highest