# Create dataset: Highest vs rest (high, medium, low, lowest)
* Under sampling the majority class.
* 50/50 balance per class.

In [1]:
import pandas as pd
# Import csv file
df = pd.read_csv('../jira_clean.csv')
df

           class                                         text_clean
0        Highest  we tried upgrading from spring boot to spring ...
1         Medium  the jobs that appear under executions section ...
2         Lowest  working with springxd version the server with ...
3         Medium  my project node cluster and in that node are a...
4         Medium  im trying to run a job on springxd and the job...
...          ...                                                ...
1370584   Medium  simple android lib for pushing little messages...
1370585   Medium                               it is very beautiful
1370586   Medium  what is reactivegremlin reactivegremlin is a s...
1370587   Medium       android view for a swipeable weekly calendar
1370588   Medium  beetlmvc is a web framework which can support ...

[1370589 rows x 2 columns]

In [2]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   933492
Low      267788
High      81428
Highest   55380
Lowest    32501

In [3]:
# NaN values
df.isnull().sum()

class           0
text_clean    608
dtype: int64

In [4]:
# Drop NaN values
df = df.dropna()
df.isnull().sum()

class         0
text_clean    0
dtype: int64

In [5]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   933029
Low      267697
High      81404
Highest   55358
Lowest    32493

In [6]:
# make df with class and text_clean
#df = df[['class', 'text_clean']]

In [7]:
highest = df[df['class'] == 'Highest']
highest["label"] = 1
highest["class_original"] = "Highest"
highest["class"] = "highest"
high = df[df['class'] == 'High']
medium = df[df['class'] == 'Medium']
low = df[df['class'] == 'Low']
lowest = df[df['class'] == 'Lowest']

/tmp/ipykernel_649830/3737047461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["label"] = 1
/tmp/ipykernel_649830/3737047461.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["class_original"] = "Highest"
/tmp/ipykernel_649830/3737047461.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["class"] = "highest"

In [8]:
# Concat all class except highest
rest = pd.concat([high, medium, low, lowest])
# Rename class to class_1
rest = rest.rename(columns={'class': 'class_original'})
rest["class"] = "rest" 
rest["label"] = 0
rest

,class_original,text_clean,class,label
6,High,according to the documentation we can load jar...,rest,0
35,High,as stated in sprintintegration in springxd can...,rest,0
52,High,xd container loose connection with zookeeperim...,rest,0
147,High,if i deploy more than one instance of a module...,rest,0
474,High,i am using the pox method to implement a simpl...,rest,0
...,...,...,...,...
1365169,Lowest,please close this issue i apologize everything...,rest,0
1367651,Lowest,following dependencies are not yet ready i alr...,rest,0
1369130,Lowest,requesting access to orggrails to be able to s...,rest,0
1369629,Lowest,im releasing my artifacts for the first time i...,rest,0
1370085,Lowest,hi i currently face an unauthorized exception ...,rest,0

In [9]:
# Value count rest class
rest['class'].value_counts().to_frame()

         count
class
rest   1314623

In [10]:
from sklearn.utils import shuffle
# Number of rows in the highest class
n_highest = highest.shape[0]

rest_sampled = rest.sample(n=n_highest, random_state=42)  


balanced_data = pd.concat([highest, rest_sampled])

# Shuffle the combined dataset
balanced_data = shuffle(balanced_data, random_state=42)
balanced_data

,class,text_clean,label,class_original
423421,highest,when we do range query on simple keys it does ...,1,Highest
115990,highest,unhandledpromiserejectionwarning unhandled pro...,1,Highest
416465,rest,the fabricunittestdaily branch failing intermi...,0,Medium
241992,rest,as a system operator i want to receive alerts ...,0,Medium
33975,rest,there is no support in datasourcetransactionma...,0,Medium
...,...,...,...,...
1044561,rest,once i have imported a widget into the store i...,0,Low
267207,rest,the spec defines an axiom of a ie singleton li...,0,Medium
106469,rest,to have an history on master of all csvs setup...,0,Medium
57564,highest,there are still some changes expected to be me...,1,Highest
277906,highest,crw failed to install from operatorhub because...,1,Highest

In [11]:
balanced_data['class'].value_counts().to_frame()

         count
class
highest  55358
rest     55358

In [12]:
balanced_data

,class,text_clean,label,class_original
423421,highest,when we do range query on simple keys it does ...,1,Highest
115990,highest,unhandledpromiserejectionwarning unhandled pro...,1,Highest
416465,rest,the fabricunittestdaily branch failing intermi...,0,Medium
241992,rest,as a system operator i want to receive alerts ...,0,Medium
33975,rest,there is no support in datasourcetransactionma...,0,Medium
...,...,...,...,...
1044561,rest,once i have imported a widget into the store i...,0,Low
267207,rest,the spec defines an axiom of a ie singleton li...,0,Medium
106469,rest,to have an history on master of all csvs setup...,0,Medium
57564,highest,there are still some changes expected to be me...,1,Highest
277906,highest,crw failed to install from operatorhub because...,1,Highest

In [13]:
# Count label
balanced_data['label'].value_counts().to_frame()

       count
label
1      55358
0      55358

In [14]:
# Save to csv
balanced_data.to_csv('highest_vs_rest_balanced_jira.csv', index=False)

In [15]:
# Read csv
df = pd.read_csv('highest_vs_rest_balanced_jira.csv')
df

,class,text_clean,label,class_original
0,highest,when we do range query on simple keys it does ...,1,Highest
1,highest,unhandledpromiserejectionwarning unhandled pro...,1,Highest
2,rest,the fabricunittestdaily branch failing intermi...,0,Medium
3,rest,as a system operator i want to receive alerts ...,0,Medium
4,rest,there is no support in datasourcetransactionma...,0,Medium
...,...,...,...,...
110711,rest,once i have imported a widget into the store i...,0,Low
110712,rest,the spec defines an axiom of a ie singleton li...,0,Medium
110713,rest,to have an history on master of all csvs setup...,0,Medium
110714,highest,there are still some changes expected to be me...,1,Highest
110715,highest,crw failed to install from operatorhub because...,1,Highest