# Split dataset and upload to huggingface
* This notebook will spilt the dataset into: training, validate and test set.
* Then upload the dataset to huggingface

In [1]:
import pandas as pd
import numpy as np
from datasets import Dataset, DatasetDict
from huggingface_hub import notebook_login

In [2]:
name = "clean_MongoDB_balanced"
file_name = f"../csv/{name}.csv"
df = pd.read_csv(file_name)
df

                                             text_clean  label
0     info ccdashboardauthauthproperties no jwt secr...      0
1     first logged failure here note that this commi...      1
2     i perform following tutorial for my knowledgei...      1
3     description yes it would be a new component of...      1
4     createuser docs are wrong the name of the user...      1
...                                                 ...    ...
1811  dbcollectioncountor is extremmely slow i comma...      0
1812  we must make sure that there are no more users...      0
1813  paneltitleissue status as of june issue summar...      1
1814  the topology coordinator is the repository for...      0
1815  the legacy release of the c driver is being tr...      0

[1816 rows x 2 columns]

In [3]:
null_rows = df[df['text_clean'].isnull()]
null_rows

Empty DataFrame
Columns: [text_clean, label]
Index: []

In [4]:
df = df.dropna(subset=['text_clean'])
# reset index
df = df.reset_index(drop=True)
df

                                             text_clean  label
0     info ccdashboardauthauthproperties no jwt secr...      0
1     first logged failure here note that this commi...      1
2     i perform following tutorial for my knowledgei...      1
3     description yes it would be a new component of...      1
4     createuser docs are wrong the name of the user...      1
...                                                 ...    ...
1811  dbcollectioncountor is extremmely slow i comma...      0
1812  we must make sure that there are no more users...      0
1813  paneltitleissue status as of june issue summar...      1
1814  the topology coordinator is the repository for...      0
1815  the legacy release of the c driver is being tr...      0

[1816 rows x 2 columns]

In [5]:
null_rows = df[df['text_clean'].isnull()]
null_rows

Empty DataFrame
Columns: [text_clean, label]
Index: []

In [6]:
df.label.value_counts().to_frame()[:50]
value_counts_df = df['label'].value_counts().to_frame()
value_counts_df

       count
label
0        908
1        908

In [7]:
# Convert from Pandas DataFrame to Hugging Face datasets
test_ds = Dataset.from_pandas(df)

ds = DatasetDict()

ds["test"] = test_ds

ds

DatasetDict({
    test: Dataset({
        features: ['text_clean', 'label'],
        num_rows: 1816
    })
})

In [8]:
# Uncomment this if not logged in.
#notebook_login()

In [9]:
# Push to Hugging Face Hub
ds.push_to_hub(name+"_1")

Pushing dataset shards to the dataset hub:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/2 [00:00<?, ?ba/s]