# Split dataset and upload to huggingface
* This notebook will spilt the dataset into: training, validate and test set.
* Then upload the dataset to huggingface

In [27]:
import pandas as pd
import numpy as np
from datasets import Dataset, DatasetDict
from huggingface_hub import notebook_login

In [28]:
name = "test_high_vs_med_low_priority"
file_name = f"csv/clean_{name}.csv"
df = pd.read_csv(file_name)
df

,text_clean,labels,class
0,block sizesadjust block sizes to fit the provi...,1,medium_and_low_priority
1,ui style and widgets broken in the test enviro...,0,high_priority
2,this dropdown list should not work in this scr...,0,high_priority
3,e2e docker use mariadb instead of mysqllike is...,1,medium_and_low_priority
4,crosscompile toolchain variant doesnt working ...,1,medium_and_low_priority
...,...,...,...
22092,error handling sync error handling mechanismmw...,0,high_priority
22093,limit maximum requests in a given timethis is ...,0,high_priority
22094,looking for a volunteer officiel facebook page...,1,medium_and_low_priority
22095,add tests for add todo command its related tes...,0,high_priority
22096,convert sql functions to views for orm compata...,0,high_priority

In [29]:
df.labels.value_counts().to_frame()[:50]
value_counts_df = df['class'].value_counts().to_frame()
value_counts_df

                         count
class
high_priority            11072
medium_and_low_priority  11025

In [30]:
test_ds = Dataset.from_pandas(df)

ds = DatasetDict()

ds["test_separate"] = test_ds

ds

DatasetDict({
    test_separate: Dataset({
        features: ['text_clean', 'labels', 'class'],
        num_rows: 22097
    })
})

In [31]:
# Uncomment this if not logged in.
#notebook_login()

In [32]:
# Push to Hugging Face Hub
ds.push_to_hub(name)

Pushing dataset shards to the dataset hub:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/23 [00:00<?, ?ba/s]