# Create dataset: Highest vs rest (high, medium, low, lowest)
* Under sampling the majority class.
* 50/50 balance per class.

In [1]:
file_path = '/fp/projects01/ec307/ec-krimhau/jira_datasets'
file_name = 'jira_clean_with_all_cols.csv'
full_path = f"{file_path}/{file_name}"

In [2]:
import pandas as pd
# Import csv file
df = pd.read_csv(full_path)
df

,priority,description,project,labels,issuetype,collection,class,text_str,text_clean
0,Blocker,We tried upgrading from Spring Boot 2.0.6 to S...,Spring XD,[],Bug,Spring,Highest,We tried upgrading from Spring Boot 2.0.6 to S...,we tried upgrading from spring boot to spring ...
1,Major,The jobs that appear under Executions section ...,Spring XD,[],Bug,Spring,Medium,The jobs that appear under Executions section ...,the jobs that appear under executions section ...
2,Trivial,Working with Spring-XD version 1.3.2.RELEASE\n...,Spring XD,[],Bug,Spring,Lowest,Working with Spring-XD version 1.3.2.RELEASE\n...,working with springxd version the server with ...
3,Major,My project 7 node cluster and in that 2 node a...,Spring XD,"['Spring', 'xd']",Bug,Spring,Medium,My project 7 node cluster and in that 2 node a...,my project node cluster and in that node are a...
4,Minor,See https://github.com/spring-projects/spring-...,Spring XD,[],Story,Spring,Low,See https://github.com/spring-projects/spring-...,NaN
...,...,...,...,...,...,...,...,...,...
1404240,Major,it is very beautiful.,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,it is very beautiful.,it is very beautiful
1404241,Major,library,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,library,NaN
1404242,Major,What is reactive-gremlin\r\n\r\nreactive-greml...,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,What is reactive-gremlin\r\n\r\nreactive-greml...,what is reactivegremlin reactivegremlin is a s...
1404243,Major,"Android view for a swipeable, weekly calendar.",Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,"Android view for a swipeable, weekly calendar.",android view for a swipeable weekly calendar
1404244,Major,"Beetlmvc is a web framework, which can support...",Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,"Beetlmvc is a web framework, which can support...",beetlmvc is a web framework which can support ...

In [3]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   960459
Low      271629
High      82646
Highest   56220
Lowest    33291

In [4]:
# NaN values
df.isnull().sum()

priority           0
description        0
project            0
labels             0
issuetype          0
collection         0
class              0
text_str           0
text_clean     34264
dtype: int64

In [5]:
# Drop NaN values
df = df.dropna()
df.isnull().sum()

priority       0
description    0
project        0
labels         0
issuetype      0
collection     0
class          0
text_str       0
text_clean     0
dtype: int64

In [6]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   933029
Low      267697
High      81404
Highest   55358
Lowest    32493

In [7]:
# Unique collections
df['collection'].unique()

array(['Spring', 'RedHat', 'Sakai', 'JiraEcosystem', 'Hyperledger',
       'Apache', 'SecondLife', 'IntelDAOS', 'Mindville', 'Sonatype'],
      dtype=object)

In [8]:
# make df with class and text_clean
df = df[['class', 'text_clean']]
df

           class                                         text_clean
0        Highest  we tried upgrading from spring boot to spring ...
1         Medium  the jobs that appear under executions section ...
2         Lowest  working with springxd version the server with ...
3         Medium  my project node cluster and in that node are a...
5         Medium  im trying to run a job on springxd and the job...
...          ...                                                ...
1404239   Medium  simple android lib for pushing little messages...
1404240   Medium                               it is very beautiful
1404242   Medium  what is reactivegremlin reactivegremlin is a s...
1404243   Medium       android view for a swipeable weekly calendar
1404244   Medium  beetlmvc is a web framework which can support ...

[1369981 rows x 2 columns]

In [9]:
highest = df[df['class'] == 'Highest']
highest["class_original"] = "Highest"
high = df[df['class'] == 'High']
high["class_original"]= 'High'
medium = df[df['class'] == 'Medium']
low = df[df['class'] == 'Low']
lowest = df[df['class'] == 'Lowest']

/localscratch/583344/ipykernel_526153/1603564074.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["class_original"] = "Highest"
/localscratch/583344/ipykernel_526153/1603564074.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  high["class_original"]= 'High'

In [10]:
highest = pd.concat([highest,high])
highest["label"] = 1
highest["class"] = "Highest"
highest

,class,text_clean,class_original,label
0,Highest,we tried upgrading from spring boot to spring ...,Highest,1
13,Highest,i download the spring xd example projects and ...,Highest,1
197,Highest,several issues with staged version we now use ...,Highest,1
366,Highest,building and then running springclouddatarest ...,Highest,1
510,Highest,the abstractannotationmethodendpointmapping lo...,Highest,1
...,...,...,...,...
1402237,Highest,we have error on when we tried to close stagin...,High,1
1403170,Highest,hi ive released some artifacts via the usual s...,High,1
1403304,Highest,yesterday i released artifacts under group nam...,High,1
1403530,Highest,below is the error i got while running my proj...,High,1
1404022,Highest,i cant release this repository forbidden error...,High,1

In [11]:
# Concat all class except highest and high
rest = pd.concat([low,lowest])
# Rename class to class_1
rest = rest.rename(columns={'class': 'class_original'})
rest["class"] = "rest" 
rest["label"] = 0
rest

,class_original,text_clean,class,label
9,Low,hiim using ldap to a windows active directory ...,rest,0
10,Low,more details in the support ticket following e...,rest,0
11,Low,i unzip to replace the existing clear my brows...,rest,0
14,Low,codexdmodule compose foo definition time expre...,rest,0
16,Low,the mapreduce samples should have yarnresource...,rest,0
...,...,...,...,...
1398225,Lowest,please close this issue i apologize everything...,rest,0
1401002,Lowest,following dependencies are not yet ready i alr...,rest,0
1402620,Lowest,requesting access to orggrails to be able to s...,rest,0
1403176,Lowest,im releasing my artifacts for the first time i...,rest,0
1403679,Lowest,hi i currently face an unauthorized exception ...,rest,0

In [12]:
# Value count rest class
rest['class_original'].value_counts().to_frame()

                 count
class_original
Low             267697
Lowest           32493

In [13]:
from sklearn.utils import shuffle
# Number of rows in the highest class
n_highest =  highest.shape[0]

rest_sampled = rest.sample(n=n_highest, random_state=42)  


balanced_data = pd.concat([highest, rest_sampled])

# Shuffle the combined dataset
balanced_data = shuffle(balanced_data, random_state=42)
balanced_data

,class,text_clean,class_original,label
255633,Highest,we need to bump the version to example image e...,Highest,1
176892,Highest,right now it is almost impossible to create se...,High,1
169534,rest,this is a followup of which contained two issu...,Low,0
282421,Highest,create a maven assembly to produce a zip file ...,High,1
60425,rest,suggestion slack bot that runs upstream should...,Low,0
...,...,...,...,...
951370,Highest,noformatnopaneltrueexternalstestspy fileextern...,High,1
1249105,rest,when you browse the mbeans in jconsole both ac...,Lowest,0
1271664,Highest,after creating new instance from bare karaf in...,High,1
1168234,rest,im writing a method which is not existing yet ...,Low,0
1002076,Highest,pagerank input runs very slow and eventually f...,High,1

In [14]:
balanced_data['class'].value_counts().to_frame()

          count
class
Highest  136762
rest     136762

In [15]:
balanced_data

,class,text_clean,class_original,label
255633,Highest,we need to bump the version to example image e...,Highest,1
176892,Highest,right now it is almost impossible to create se...,High,1
169534,rest,this is a followup of which contained two issu...,Low,0
282421,Highest,create a maven assembly to produce a zip file ...,High,1
60425,rest,suggestion slack bot that runs upstream should...,Low,0
...,...,...,...,...
951370,Highest,noformatnopaneltrueexternalstestspy fileextern...,High,1
1249105,rest,when you browse the mbeans in jconsole both ac...,Lowest,0
1271664,Highest,after creating new instance from bare karaf in...,High,1
1168234,rest,im writing a method which is not existing yet ...,Low,0
1002076,Highest,pagerank input runs very slow and eventually f...,High,1

In [16]:
# Count label
balanced_data['label'].value_counts().to_frame()

        count
label
1      136762
0      136762

In [17]:
# Count original class
balanced_data['class_original'].value_counts().to_frame()

                 count
class_original
Low             122041
High             81404
Highest          55358
Lowest           14721

In [18]:
balanced_data = balanced_data[['label', 'text_clean']]
balanced_data = balanced_data.rename(columns={'text_clean': 'text'})
balanced_data

         label                                               text
255633       1  we need to bump the version to example image e...
176892       1  right now it is almost impossible to create se...
169534       0  this is a followup of which contained two issu...
282421       1  create a maven assembly to produce a zip file ...
60425        0  suggestion slack bot that runs upstream should...
...        ...                                                ...
951370       1  noformatnopaneltrueexternalstestspy fileextern...
1249105      0  when you browse the mbeans in jconsole both ac...
1271664      1  after creating new instance from bare karaf in...
1168234      0  im writing a method which is not existing yet ...
1002076      1  pagerank input runs very slow and eventually f...

[273524 rows x 2 columns]

In [19]:
out_path = '/fp/projects01/ec307/ec-krimhau/jira_datasets/highest_high_vs_low_lowest_balanced_jira.csv'

In [20]:
# Save to csv
balanced_data.to_csv(out_path, index=False)

In [21]:
# Read csv
df = pd.read_csv(out_path)

In [22]:
df

        label                                               text
0           1  we need to bump the version to example image e...
1           1  right now it is almost impossible to create se...
2           0  this is a followup of which contained two issu...
3           1  create a maven assembly to produce a zip file ...
4           0  suggestion slack bot that runs upstream should...
...       ...                                                ...
273519      1  noformatnopaneltrueexternalstestspy fileextern...
273520      0  when you browse the mbeans in jconsole both ac...
273521      1  after creating new instance from bare karaf in...
273522      0  im writing a method which is not existing yet ...
273523      1  pagerank input runs very slow and eventually f...

[273524 rows x 2 columns]