# Create dataset: Highest vs rest (high, medium, low, lowest)
* Under sampling the majority class.
* 50/50 balance per class.

In [1]:
file_path = '/fp/projects01/ec307/ec-krimhau/jira_datasets'
file_name = 'jira_clean_with_all_cols.csv'
full_path = f"{file_path}/{file_name}"

In [2]:
import pandas as pd
# Import csv file
df = pd.read_csv(full_path)
df

,priority,description,project,labels,issuetype,collection,class,text_str,text_clean
0,Blocker,We tried upgrading from Spring Boot 2.0.6 to S...,Spring XD,[],Bug,Spring,Highest,We tried upgrading from Spring Boot 2.0.6 to S...,we tried upgrading from spring boot to spring ...
1,Major,The jobs that appear under Executions section ...,Spring XD,[],Bug,Spring,Medium,The jobs that appear under Executions section ...,the jobs that appear under executions section ...
2,Trivial,Working with Spring-XD version 1.3.2.RELEASE\n...,Spring XD,[],Bug,Spring,Lowest,Working with Spring-XD version 1.3.2.RELEASE\n...,working with springxd version the server with ...
3,Major,My project 7 node cluster and in that 2 node a...,Spring XD,"['Spring', 'xd']",Bug,Spring,Medium,My project 7 node cluster and in that 2 node a...,my project node cluster and in that node are a...
4,Minor,See https://github.com/spring-projects/spring-...,Spring XD,[],Story,Spring,Low,See https://github.com/spring-projects/spring-...,NaN
...,...,...,...,...,...,...,...,...,...
1404240,Major,it is very beautiful.,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,it is very beautiful.,it is very beautiful
1404241,Major,library,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,library,NaN
1404242,Major,What is reactive-gremlin\r\n\r\nreactive-greml...,Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,What is reactive-gremlin\r\n\r\nreactive-greml...,what is reactivegremlin reactivegremlin is a s...
1404243,Major,"Android view for a swipeable, weekly calendar.",Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,"Android view for a swipeable, weekly calendar.",android view for a swipeable weekly calendar
1404244,Major,"Beetlmvc is a web framework, which can support...",Community Support - Open Source Project Reposi...,[],New Project,Sonatype,Medium,"Beetlmvc is a web framework, which can support...",beetlmvc is a web framework which can support ...

In [3]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   960459
Low      271629
High      82646
Highest   56220
Lowest    33291

In [4]:
# NaN values
df.isnull().sum()

priority           0
description        0
project            0
labels             0
issuetype          0
collection         0
class              0
text_str           0
text_clean     34264
dtype: int64

In [5]:
# Drop NaN values
df = df.dropna()
df.isnull().sum()

priority       0
description    0
project        0
labels         0
issuetype      0
collection     0
class          0
text_str       0
text_clean     0
dtype: int64

In [6]:
# Count class
df['class'].value_counts().to_frame()

          count
class
Medium   933029
Low      267697
High      81404
Highest   55358
Lowest    32493

In [7]:
# Unique collections
df['collection'].unique()

array(['Spring', 'RedHat', 'Sakai', 'JiraEcosystem', 'Hyperledger',
       'Apache', 'SecondLife', 'IntelDAOS', 'Mindville', 'Sonatype'],
      dtype=object)

In [8]:
# make df with class and text_clean
df = df[['class', 'text_clean']]

In [9]:
highest = df[df['class'] == 'Highest']
highest["label"] = 1
highest["class_original"] = "Highest"
highest["class"] = "highest"
high = df[df['class'] == 'High']
medium = df[df['class'] == 'Medium']
low = df[df['class'] == 'Low']
lowest = df[df['class'] == 'Lowest']

/localscratch/492580/ipykernel_2269417/3737047461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["label"] = 1
/localscratch/492580/ipykernel_2269417/3737047461.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["class_original"] = "Highest"
/localscratch/492580/ipykernel_2269417/3737047461.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highest["class"] = "highest"

In [10]:
# Concat all class except highest and high
rest = lowest
# Rename class to class_1
rest = rest.rename(columns={'class': 'class_original'})
rest["class"] = "rest" 
rest["label"] = 0
rest

,class_original,text_clean,class,label
2,Lowest,working with springxd version the server with ...,rest,0
17,Lowest,when i use the adminui web portal which runs o...,rest,0
134,Lowest,copied from while testing a reactive processor...,rest,0
289,Lowest,what is the functional justification for enfor...,rest,0
444,Lowest,hdfsoutboundchanneladapterparser supports havi...,rest,0
...,...,...,...,...
1398225,Lowest,please close this issue i apologize everything...,rest,0
1401002,Lowest,following dependencies are not yet ready i alr...,rest,0
1402620,Lowest,requesting access to orggrails to be able to s...,rest,0
1403176,Lowest,im releasing my artifacts for the first time i...,rest,0
1403679,Lowest,hi i currently face an unauthorized exception ...,rest,0

In [11]:
# Value count rest class
rest['class_original'].value_counts().to_frame()

                count
class_original
Lowest          32493

In [12]:
from sklearn.utils import shuffle
# Number of rows in the highest class
n_highest = rest.shape[0]

rest_sampled = highest.sample(n=n_highest, random_state=42)  


balanced_data = pd.concat([rest, rest_sampled])

# Shuffle the combined dataset
balanced_data = shuffle(balanced_data, random_state=42)
balanced_data

,class_original,text_clean,class,label
1116117,Lowest,testing on version discovered test case does a...,rest,0
84815,Highest,description this is an issue found when use co...,highest,1
481244,Lowest,description since unixtimestamp udf was deprec...,rest,0
995236,Lowest,in programmming guides most algos in ml have l...,rest,0
564519,Highest,creation of system eventqueue was commented ou...,highest,1
...,...,...,...,...
692093,Highest,seems to have introduced a bug because of whic...,highest,1
1188023,Highest,copying s comment from mailing list on head wi...,highest,1
33594,Lowest,add ability to merge multiple listsmapssets th...,rest,0
851946,Lowest,rename asterixjavaclient to asterixtestclient,rest,0
579590,Highest,if a running attempt is lost on a tracker a at...,highest,1

In [13]:
balanced_data['class'].value_counts().to_frame()

         count
class
rest     32493
highest  32493

In [14]:
balanced_data

,class_original,text_clean,class,label
1116117,Lowest,testing on version discovered test case does a...,rest,0
84815,Highest,description this is an issue found when use co...,highest,1
481244,Lowest,description since unixtimestamp udf was deprec...,rest,0
995236,Lowest,in programmming guides most algos in ml have l...,rest,0
564519,Highest,creation of system eventqueue was commented ou...,highest,1
...,...,...,...,...
692093,Highest,seems to have introduced a bug because of whic...,highest,1
1188023,Highest,copying s comment from mailing list on head wi...,highest,1
33594,Lowest,add ability to merge multiple listsmapssets th...,rest,0
851946,Lowest,rename asterixjavaclient to asterixtestclient,rest,0
579590,Highest,if a running attempt is lost on a tracker a at...,highest,1

In [15]:
# Count label
balanced_data['label'].value_counts().to_frame()

       count
label
0      32493
1      32493

In [16]:
# Count original class
balanced_data['class_original'].value_counts().to_frame()

                count
class_original
Lowest          32493
Highest         32493

In [17]:
balanced_data = balanced_data[['label', 'text_clean']]
balanced_data = balanced_data.rename(columns={'text_clean': 'text'})
balanced_data

         label                                               text
1116117      0  testing on version discovered test case does a...
84815        1  description this is an issue found when use co...
481244       0  description since unixtimestamp udf was deprec...
995236       0  in programmming guides most algos in ml have l...
564519       1  creation of system eventqueue was commented ou...
...        ...                                                ...
692093       1  seems to have introduced a bug because of whic...
1188023      1  copying s comment from mailing list on head wi...
33594        0  add ability to merge multiple listsmapssets th...
851946       0      rename asterixjavaclient to asterixtestclient
579590       1  if a running attempt is lost on a tracker a at...

[64986 rows x 2 columns]

In [18]:
out_path = '/fp/projects01/ec307/ec-krimhau/jira_datasets/high_highest_vs_rest/highest_vs_lowest_balanced_jira.csv'

In [19]:
# Save to csv
balanced_data.to_csv(out_path, index=False)

In [20]:
# Read csv
df = pd.read_csv(out_path)

In [21]:
df

       label                                               text
0          0  testing on version discovered test case does a...
1          1  description this is an issue found when use co...
2          0  description since unixtimestamp udf was deprec...
3          0  in programmming guides most algos in ml have l...
4          1  creation of system eventqueue was commented ou...
...      ...                                                ...
64981      1  seems to have introduced a bug because of whic...
64982      1  copying s comment from mailing list on head wi...
64983      0  add ability to merge multiple listsmapssets th...
64984      0      rename asterixjavaclient to asterixtestclient
64985      1  if a running attempt is lost on a tracker a at...

[64986 rows x 2 columns]